img{
    width: 1005px;
}

.container{
    max-width: 1040px;
    margin: auto;
   
}


h1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}

h1:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ff8159;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.games-slider .item{
    background-color: rgb(243, 200, 114);
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid #111;
 
}
.games-slider .slick-slide{
    margin: 100px;
}
.slick-dots li.slick-active button:before{
    color: #ff5722;
}
.slick-next:before,
.slick-prev:before{
    color: #ff8159;
    font-size: 24px;
}
.item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}